@import "../../sass/abstracts/_colors.scss";
.sidebar {
  position: fixed;
}
.findUser-page {
  display: grid;
  gap: 64px;
  grid-template-columns: auto auto;
  .FindUser {
    margin-left: 450px;
  }
  .request {
    width: 500px;
    height: 600px;
    background-color: #171e2e;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.search_button {
  background: #3577FF;
  color: $DarkTextColor;
  width: 80px;
  margin-left: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1rem;
}

.search_input {
  padding: 0.5rem;
  width: 12rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  height: fit-content;
  font-size: 20px;

  thead {
    background-color: $DarkAccent;
    height: 50px;
    text-align: left;
    line-height: 55px;
    tr {
      th {
        padding: 5px;
      }
    }
  }

  tbody {
    tr {
      height: 55px;
      line-height: 50px;
      td {
        padding: 5px;
      }

      &:nth-child(2n) {
        background-color: $DarkContainerBackgroundColor;
      }
    }
  }
}
