@import "../../sass/base/_typography";
@import "../../sass/abstracts/_colors";

.inboxPage {
  margin: 4rem;
  display: flex;
  flex-direction: column;

  .flexrow {
    display: flex;
    flex-direction: row;
  }

  .abovetable {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .justify_start {
    margin-right: auto;
  }

  th,
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    line-height: 1.2;
    width: 10px;
  }

  .tablehead {
    background-color: #3577ff;
  }
  .table {
    border-radius: 10px;
    overflow: hidden;
    background-color: #171e2e;
  }

  .table td,
  .table th {
    padding: 8px;
  }
}
