// Global
$Gradient_1: linear-gradient(
      80deg, 
      #9358F7, 
      #7B78F2, 
      #6197EE, 
      #45B5E9, 
      #10D7E2, 
    );
$Gradient_2: linear-gradient(
      80deg, 
      #21BDB8, 
      #280684,
    );
$Invisible: rgba(0,0,0,0);

// Bright Mode
$BrightAccent: #1D65F7;
$BrightAccent_Contrast: #F6F6F6;
$BrightAlertColor: #EA1010;
$BrightLogoColor: #212121;
$BrightTextColor: #212121;
$BrightSloganColor: rgba(33, 33, 33, .75);
$BrightPageBackgroundColor: #F6F6F6;
$BrightContainerBackgroundColor: #FFF;
$BrightSidebarBackgroundColor: #FFF;
$BrightTagsColor: #F1F1F1;

// Dark Mode
$DarkAccent: #3577FF;
$DarkAccent_Contrast: #F7FAFC;
$DarkAlertColor: #EF5D5D;
$DarkLogoColor: #CBD6E3;
$DarkTextColor: #CBD6E3;
$DarkSloganColor: #AFBFD2;
$DarkPageBackgroundColor: #0B1622;
$DarkContainerBackgroundColor: #171E2E;
$DarkSidebarBackgroundColor: #171E2E;
$DarkTagsColor: #4C76EA;