// Global
$Gradient_1: linear-gradient(
  80deg,
  #9358f7,
  #7b78f2,
  #6197ee,
  #45b5e9,
  #10d7e2
);
$Gradient_2: linear-gradient(80deg, #21bdb8, #280684);
$Invisible: rgba(0, 0, 0, 0);

// Bright Mode
$BrightAccent: #1d65f7;
$BrightAccent_Contrast: #f6f6f6;
$BrightAlertColor: #ea1010;
$BrightLogoColor: #212121;
$BrightTextColor: #212121;
$BrightSloganColor: rgba(33, 33, 33, 0.75);
$BrightPageBackgroundColor: #f6f6f6;
$BrightContainerBackgroundColor: #fff;
$BrightSidebarBackgroundColor: #fff;
$BrightTagsColor: #f1f1f1;

// Dark Mode
$DarkAccent: #3577ff;
$DarkAccent_Contrast: #f7fafc;
$DarkAlertColor: #ef5d5d;
$DarkLogoColor: #cbd6e3;
$DarkTextColor: #cbd6e3;
$DarkSloganColor: #afbfd2;
$DarkPageBackgroundColor: #0b1622;
$DarkContainerBackgroundColor: #171e2e;
$DarkSidebarBackgroundColor: #171e2e;
$DarkTagsColor: #4c76ea;
