// .Profile {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: 1fr;
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
//     width: 100vw;
//     height: 100vh;

//     .Sidebar {
//         grid-area: 1 / 1 / 6 / 2;
//     }
//     .profile-info {
//         grid-area: 1 / 2 / 6 / 4;
//     }
//     .tags-container,
//     .aboutMe {
//         grid-area: 1 / 4 / 6 / 6;
//     }
// }
.profile-info {
    width: 500px;
    height: 600px;
    background-color: #171e2e;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
    a {
        color: #fff;
    }
}
.tags-container {
    width: 500px;
    height: fit-content;
    background-color: #171e2e;
    border-radius: 15px;
    padding: 10px;
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;

        li {
            padding: 20px;
            margin: 10px;
            background-color: #4c76ea;
            border-radius: 14px;
        }
    }
}
.aboutMe {
    width: 500px;
    height: 400px;
    background-color: #171e2e;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    h2 {
        margin-bottom: 20px;
    }
}
