@import "../../sass/base/_typography";
@import "../../sass/abstracts/_colors";

.requestsPage {
  .requests {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.abovetable {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.justify_start {
    margin-right: auto;
}

.above_button {
    background: #3577FF;
    color: $DarkTextColor;
    width: 6vw;
    margin-left: 1rem;
    padding: 0.5rem 0;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.above_button:hover {
    background-color: #6197EE;
    border-radius: 10px;

}

.request-tablehead {
    background-color: #3577FF;
}
.request-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #171E2E;
    margin-bottom: 2rem;
  }

.request-table td, .request-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    line-height: 1.2;
    width: 10px;
  }

  .tablehead {
    background-color: #3577ff;
  }
  .table {
    border-radius: 10px;
    overflow: hidden;
    background-color: #171e2e;
    width: 100%;
  }

  .table td,
  .table th {
    padding: 8px;
  }
  span.alert {
    background-color: rgb(255, 39, 39);
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 0.5rem;
  }
}
