@import "../../sass/base/_typography";
@import "../../sass/abstracts/_colors";

.requestsPage {
  .requests {
    display: flex;
    flex-direction: column;
    margin: 4rem;
  }

  .abovetable {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .justify_start {
    margin-right: auto;
  }

  .above_button {
    background: #3577ff;
    color: $DarkTextColor;
    width: 6vw;
    margin-left: 1rem;
    padding: 0.5rem 0;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .above_button:hover {
    background-color: #6197ee;
    border-radius: 10px;
  }

  th,
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    line-height: 1.2;
    width: 10px;
  }

  .tablehead {
    background-color: #3577ff;
  }
  .table {
    border-radius: 10px;
    overflow: hidden;
    background-color: #171e2e;
    width: 100%;
  }

  .table td,
  .table th {
    padding: 8px;
  }
}
