@import "../../sass/base/_typography";
@import "../../sass/abstracts/_colors";

.Login {
  @include font;
  color: $DarkTextColor;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  height: 100vh;

  #statistics {
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 32px;
  }

  .heading {
    font-size: 1.3em;
    text-align: center;
  }

  #info {
    color: $DarkTextColor;
    font-size: 0.9em;
  }

  #statbox-container {
    display: flex;
    gap: 24px;
  }

  .statbox {
    background: linear-gradient(315deg, #21bdb8 0%, #280684 100%);
    padding: 6px 12px;
    width: 160px;
    height: 100px;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .stattype {
    text-align: center;
  }

  .statvalue {
    font-size: 48px;
    font-weight: 600;
  }

  .loginform {
    background: $DarkContainerBackgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    form {
      display: grid;
      justify-items: center;
      align-items: center;
      gap: 32px;
    }
  }

  #logo {
    width: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

    label {
      p {
        height: 32px;
      }
    }
  }

  #login {
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #9358f7 0%,
      #10d7e2 50%,
      #6197ee 100%
    );
    cursor: pointer;
    background-size: 200% auto;
    transition: background-position 0.5s;
  }

  #login:hover {
    background-position: right center;
  }

  .inputField {
    background-color: #0b1622;
    color: $DarkTextColor;
  }

  #forgot {
    font-size: 0.8rem;
    color: $DarkTextColor;
    font-size: 0.7em;
  }

  input {
    border: none;
    width: 18vw;
    border-radius: 10px;
    padding: 12px;
  }

  label > p {
    font-size: 0.8em;
  }

  .request:hover {
    background-color: #6197ee;
  }
}
