@import "../../sass/base/_typography";
@import "../../sass/abstracts/colors";

.Registration {
  @include font;
  color: $DarkTextColor;

  background: $DarkContainerBackgroundColor;

  height: 100vh;
  width: 60vw;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 24px;

  div {
    height: 50vh;
    width: 75%;
    display: grid;
    align-content: start;
    justify-content: center;
    gap: 64px;

    h1 {
      text-align: center;
    }
    form {
      display: grid;
      gap: 24px;

      label {
        display: grid;
        gap: 8px;
      }
    }
  }

  textarea {
    background-color: $DarkContainerBackgroundColor;
    color: $DarkTextColor;
  }
}
