@import "../../sass/base/_typography";
@import "../../sass/abstracts/_colors";

.Registration {
  @include font;
  color: $DarkTextColor;

  background: $DarkContainerBackgroundColor;

  height: 100vh;
  width: 60vw;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 24px;

  div {
    height: 50vh;
    width: 75%;
    display: grid;
    align-content: start;

    h1 {
      text-align: left;
    }
    form {
      display: grid;
      align-content: start;
      justify-content: start;
      gap: 24px;
    }
  }
}
